* {
	font-family: "Kumbh Sans", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	/* ## Colors */

	/* ### Primary */

	/* #### Text */

	--verydarkdesaturatedblue: hsl(238, 29%, 16%);
	--softred: hsl(14, 88%, 65%);

	/* #### Gradient */

	/* Background gradient: */

	--softviolet: hsl(273, 75%, 66%);
	--softblue: hsl(240, 73%, 65%);

	/* ### Neutral */

	/* #### Text */

	--verydarkgrayishblue: hsl(237, 12%, 33%);
	--darkgrayishblue: hsl(240, 6%, 50%);

	/* #### Dividers */

	--lightgrayishblue: hsl(240, 5%, 91%);
}
body {
	background: linear-gradient(to bottom, var(--softviolet), var(--softblue));
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (min-width: 376px) {
	.card {
		display: flex;
		flex-direction: row;
		position: relative;
		background-color: white;
		width: 70%;
		height: 70%;
		border-radius: 30px;
	}
	.illustration {
		position: relative;
		height: 100%;
		width: 50%;
		background: url(images/bg-pattern-desktop.svg) -70% -100px no-repeat fixed,
			url(images/illustration-woman-online-desktop.svg) -5vw center no-repeat;
	}
	.illustration > img {
		display: none;
	}

	.box {
		position: absolute;
		top: 60%;
		transform: translate(-50%, -60%);
	}
	h1 {
		font-size: 3em;
	}
	.questions {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.questions h1 {
		align-self: flex-start;
	}
	.questions div {
		display: inline-block;
		width: 100%;
		padding: 5% 25% 0 0;
	}
	.questions div p {
		display: flex;
		justify-content: center;
		align-items: center;

		transition: all 0.3s ease;
	}
	.questions div p:first-child {
		margin-bottom: 5%;
		color: var(--verydarkgrayishblue);
	}
	.questions div p:first-child:hover {
		color: var(--softred);
		cursor: pointer;
	}
	.questions div p:nth-child(2) {
		color: var(--darkgrayishblue);
		border-bottom: 2px solid var(--lightgrayishblue);
	}
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	/* js class */
	.arrow,
	.arrow2 {
		cursor: pointer;
		display: block;
		margin-left: auto;
		transition: all ease 0.3s;
	}

	.appear {
		max-height: 0;
		overflow: hidden;
	}
	.rotate {
		transform: rotate(180deg);
		transition: ease 0.5s;
	}
	.bold {
		font-weight: 700;
		color: var(--verydarkdesaturatedblue);
	}
}
@media screen and (max-width: 375px) {
	.card {
		display: flex;
		flex-direction: row;
		position: relative;
		background-color: white;
		width: 90%;
		height: 70%;
		border-radius: 30px;
	}

	.illustration > img {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -60%);
		width: 70vw;
	}
	.background-mobile {
		width: 100%;
		height: 20%;
		top: 2%;
		position: absolute;
		background: url(./images/bg-pattern-mobile.svg) top center no-repeat;
	}

	.box {
		position: absolute;
		left: 25%;
		top: 2%;
		transform: translate(-50%, -60%);
	}
	.box img {
		width: 30vw;
	}

	.questions {
		padding: 0 10%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.questions div p {
		display: flex;
		justify-content: center;
		align-items: center;

		transition: all 0.3s ease;
	}
	.questions div p:first-child {
		margin: 5% 0;
		color: var(--verydarkgrayishblue);
	}
	.questions div p:first-child:hover {
		color: var(--softred);
		cursor: pointer;
	}
	.questions div p:nth-child(2) {
		color: var(--darkgrayishblue);
		border-bottom: 2px solid var(--lightgrayishblue);
	}
	.arrow {
		cursor: pointer;
		display: block;
		margin-left: auto;
		transition: all ease 0.3s;
	}
	/* js class */

	.appear {
		max-height: 0;
		overflow: hidden;
	}
	.rotate {
		transform: rotate(180deg);
		transition: ease 0.5s;
	}
	.bold {
		font-weight: 700;
		color: var(--verydarkdesaturatedblue);
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
